{{ ansible_managed | comment }}

[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# Galera Cluster Configuration
wsrep_cluster_name="test_cluster"
wsrep_cluster_address="gcomm://{{ groups[mysql_name_groups_install] | map('extract', hostvars, ['ansible_default_ipv4', 'address']) | join(',') }}"

# Galera Synchronization Configuration
wsrep_sst_method=rsync

# Galera Node Configuration
wsrep_node_address={{ ansible_default_ipv4.address }}
wsrep_node_name={{ ansible_hostname }}